@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Syne:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --palette-1: #002b36;
  --palette-2: #e8ddd0;
  --palette-3: #00594c;
  --font-text: "Archivo", sans-serif;
  --font-display: "Syne", sans-serif;
}

body {
  font-family: var(--font-text);
  font-size: 14px;
  color: var(--palette-3);
}

a {
  color: var(--palette-3);
  font-weight: bold;
}

h1,
h2 {
  font-family: var(--font-display);
}

.flex {
  display: flex;
}

header {
  min-width: 100%;
  min-height: 90vh;
}

.container {
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Icon */

.icon {
  height: 50px;
  width: 50px;
  background-color: var(--palette-3);
  transform: rotate(45deg);
  border-radius: 0 100% 100% 100%;
}

/* Hero text */

h1 {
  font-size: 6rem;
  padding: 40px 0;
  user-select: none;
}

/* Navigation Link styling */

ul {
  list-style-type: none;
}

.nav-item {
  margin-left: 15px;
  font-size: 16px;
}

/* nav link hover effect */
.nav-link {
  display: inline-block;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--palette-3);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Main area styling */
main,
footer {
  background-color: var(--palette-1);
  color: var(--palette-2);
  padding: 50px 90px 30px;
}

.introduction {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 90px;
}

.asterisks {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 90px;
  letter-spacing: 5px;
}

h2 {
  text-align: left !important;
  font-size: 2.01rem;
}

.left{
  font-size: 3rem;
}

.right {
  width: 35%;
}

.highlight {
  align-items: center;
  gap: 55px;
}

.l-part {
  flex-direction: column;
  gap: 30px;
}

.bottom {
  width: 75%;
}

p.text {
  line-height: 25px;
}

.image {
  width: 450px;
}

.image img {
  border-radius: 30px;
  height: 100%;
  width: 100%;
}

/* Footer */
footer {
  justify-content: space-between;
  align-items: center;
}

.fa-brands {
  letter-spacing: 10px;
  color: var(--palette-2);
}
