@import url("https://fonts.googleapis.com/css2?family=Kristi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

:root {
  /* Color Palette for the webpage */
  --main-color: #55527c;
  --dark-color: #130f49;
  --yellow-color: #ff972d;
  --blue-color: #a5a6ff;
  --paleblue-color: #effbf8;
  --light-blue-color: #e9f9ff;
  /* Colors for boxes in about section */
  --green-color: #d3f4ec;
  --yellowish-color: #fce8d4;
  --light-green-color: #e3f9e0;
  --bluish-color: #f3f9ff;
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-karla: "Karla", sans-serif;
  --font-kristi: "Kristi", cursive;
  /* Animation */
  --animate-duration: 0.6s !important;
}

/* Classes */
.inter {
  font-family: var(--font-inter);
}
.karla {
  font-family: var(--font-karla);
}
.kristi {
  font-family: var(--font-kristi);
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.blue {
  color: var(--blue-color);
}
.yellow {
  color: var(--yellow-color);
}

/* Stylings */
body {
  background-color: var(--light-green-color);
  font-family: var(--font-karla);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--main-color);
  /* overflow-x: hidden; */
}

img {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

/* Top menu and hamburger menu toggler */
.topmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 3px #e4edf5;
  z-index: 5;
  transition: all 0.3s ease;
  display: none;
}

.ham-menu {
  position: relative;
  z-index: 999;
  right: 0;
  transition: all 0.5s ease;
  background-color: #fff;
  padding: 3px 7px;
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  cursor: pointer;
}

.menu-toggler {
  color: var(--dark-color);
  font-size: 30px;
  display: none;
}

/* Ending of this section */

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

h3 {
  font-size: 35px;
  font-weight: 700;
  font-family: var(--font-inter);
}

.wrapper {
  padding-top: 60px;
}

.main-wrapper {
  align-items: center;
}

aside,
main {
  height: 100vh;
  max-height: 100vh;
}

/* Sidebar */
header {
  height: 100vh;
  background-color: #fff;
  text-align: center;
  user-select: none;
}

.sidebar {
  width: 300px;
  padding: 35px 0;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  overflow-y: scroll;
  border-right: 1.5px solid rgba(85, 82, 124, 0.1);
  transition: all 1s ease;
}

::-webkit-scrollbar {
  width: 0;
}

.sidebar > * {
  width: 100%;
}

.profile {
  height: 90px;
  width: 90px;
  margin: 0 auto 15px auto;
}

.profile > img {
  border: 2px solid var(--blue-color);
  border-radius: 50%;
}

.name h3 {
  font-weight: 700;
}

.cursive {
  position: relative;
  font-style: italic;
  font-size: 50px;
  font-family: var(--font-kristi);
  line-height: 1;
  color: rgba(19, 15, 73, 0.1);
  display: block;
  letter-spacing: 0.12rem;
}

.cursive span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 18px;
  color: var(--dark-color);
  letter-spacing: normal;
  font-style: normal;
  margin-top: 5px;
}

li {
  line-height: 30px;
}

li:not(:last-child) {
  padding-bottom: 5px;
}

li > a {
  color: var(--main-color);
  font-weight: 500;
  transition: all 0.3s ease;
}

li > a:hover {
  color: var(--blue-color);
}

.nav-link.active {
  color: var(--blue-color);
}

iconify-icon {
  color: var(--main-color);
  font-size: 20px;
  transition: all 0.3s ease;
}

iconify-icon:hover {
  color: var(--blue-color);
}

.socials a:not(:last-child) {
  margin-right: 10px;
}

.cr span {
  line-height: 25px;
  font-size: 0.95rem;
}

/* Content section */
main {
  width: 100%;
  background-color: var(--paleblue-color);
}

section {
  width: 100%;
  height: 100vh;
}

.wrapper-home {
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.wrapper-home,
.wrapper-about,
.wrapper-skills,
.wrapper-projects,
.wrapper-blogs,
.wrapper-contact {
  height: 100vh;
  overflow-y: scroll;
}

.left,
.right {
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.herotext {
  margin-bottom: 21px;
}

.herotext h3,
.about-left h3 {
  font-size: 40px;
  font-weight: 800;
  color: var(--dark-color);
  line-height: 60px;
}

.desc {
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 80%;
  line-height: 25px;
}

.buttons {
  margin-bottom: 60px;
}

.btn a {
  color: #fff;
  background-color: #130f49;
  display: inline-block;
  border: 1.5px solid #130f49;
  border-radius: 4px;
  padding: 10px 20px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.btn-resume {
  margin-left: 15px;
}

.btn-resume a {
  background-color: transparent;
  color: #55527c;
}

.btn-work a:hover {
  background-color: transparent;
  color: var(--dark-color);
}

.btn-resume a:hover {
  background-color: var(--dark-color);
  color: #fff;
}

.myinfo ul {
  position: relative;
}

.myinfo ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--yellow-color);
}

.myinfo ul li {
  padding-left: 15px;
}

.myinfo ul li a {
  color: var(--dark-color);
  font-weight: 600;
  transition: all 0.3s ease;
}

.myinfo ul li a:hover {
  color: var(--yellow-color);
}

/* About Section Starts */

#about {
  background-color: #fff;
}

.biography,
.counter,
.experience,
.title-wrapper,
.skills,
.bloglist,
.contact {
  padding: 0 20px;
  margin-bottom: 50px;
}

.about-left {
  width: 100%;
}

.title {
  text-transform: uppercase;
}

.about-left h3 {
  font-size: 30px;
  line-height: 50px;
}

.skill-summary {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--dark-color);
}

.texts p {
  line-height: 32px;
  margin-bottom: 20px;
}

.info ul li {
  display: inline-block;
  margin-right: 20px;
  font-family: var(--font-inter);
}

.info ul li a {
  color: var(--dark-color);
  transition: all 0.3s ease;
}

.info ul li a:hover {
  color: var(--yellow-color);
}

.info ul li span {
  display: block;
  color: var(--dark-color);
}

.info ul li span:first-child {
  text-transform: uppercase;
  text-decoration: underline;
}

.info ul li span:last-child {
  font-weight: 700;
}

.counter-inner ul {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.counter-inner ul li {
  margin: 0 0 30px;
  width: 33.3333%;
  padding-left: 30px;
  text-align: center;
}

.counter-inner ul li:first-child {
  padding-left: 0;
}

.list_inner h3 {
  font-size: 35px;
  margin-bottom: 3px;
  color: var(--dark-color);
}

.counter-inner ul li:nth-child(1) .list_inner {
  background-color: var(--green-color);
}
.counter-inner ul li:nth-child(2) .list_inner {
  background-color: var(--yellowish-color);
}
.counter-inner ul li:nth-child(3) .list_inner {
  background-color: var(--light-green-color);
}

.list_inner {
  padding: 40px 25px;
  border-radius: 4px;
}

.experience {
  background-color: var(--bluish-color);
  padding-top: 50px;
}

.title-wrapper h3 {
  color: var(--dark-color);
}

.content .title-wrapper {
  padding: 0;
}

.list {
  margin-top: 40px;
}

.list ul {
  gap: 20px;
}

.list ul li {
  margin-bottom: 20px;
}

.list ul li .list_inner {
  background-color: #fff;
  box-shadow: 3px 10px 10px #e4edf5;
  transition: all 0.5s ease;
}

.list ul li .list_inner:hover,
.skill-list ul li .list_inner:hover {
  transform: translateY(-5px);
}

.short {
  justify-content: space-between;
}

.job {
  padding-bottom: 10px;
}

.job h3,
.skill-title h3 {
  font-size: 20px;
  font-weight: 700;
}

/* About Section Ends */
/* Skills Section Starts */

.skill-list ul {
  flex-wrap: wrap;
  gap: 20px;
}

.skill-list ul li {
  width: calc(50% - 20px);
}

.skill-list ul li .list_inner {
  height: 100%;
  border: 1px solid rgba(30, 30, 30, 0.2);
  border-radius: 4px;
  transition: all 0.3s ease;
  text-align: center;
}
/* Skills Section Ends */
/* Projects Section Starts */

.projects {
  padding: 0 20px;
}

.project_list {
  margin: 0 0 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 30px);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 10px 10px #e4edf5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img {
  padding: 10px;
}

.card-img img {
  border-radius: 15px;
  box-shadow: 0px 3px 3px #e4edf5;
}

.card-body {
  padding: 10px 20px;
}

.proj-link {
  justify-content: right;
  align-items: center;
  gap: 5px;
  margin: 20px 0 10px 0;
  font-size: 19px;
}
/* Projects Section Ends */
/* Blogs Section Starts */
.bloglist ul li .list_inner .short {
  flex-wrap: wrap;
}

.blog h3 {
  width: 90%;
}

.date {
  align-items: center;
  gap: 5px;
}
/* Blogs Section Ends */
/* Contact Section Starts */
section#contact {
  background-color: var(--bluish-color);
}

.wrapper-contact-details {
  margin-right: 20px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  color: var(--main-color);
  line-height: 1.6;
  border: 1px solid #eee;
  font-size: 16px;
  font-family: var(--font-karla);
  border-radius: 3px;
}

input {
  height: 45px;
}

textarea {
  resize: none;
}

.btn-submit {
  background-color: var(--dark-color);
  color: var(--bluish-color);
  width: min-content;
  padding: 10px 20px;
  cursor: pointer;
}

.maps {
  margin: 50px 20px;
}

.mapouter {
  position: relative;
  background: #fff;
}

.gmap_canvas {
  overflow: hidden;
}

.gmap_canvas iframe {
  position: relative;
  z-index: 2;
}

/* Contact Section Ends */

/* Media Queries */

@media screen and (max-width: 1100px) {
  .topmenu {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
  }

  .sidebar {
    display: flex;
    position: fixed;
    z-index: 99;
    background-color: var(--light-blue-color);
    right: 0%;
    top: 0;
    gap: 60px;
  }

  .sidebar-hidden {
    display: none !important;
  }

  .menu-toggler {
    display: block;
  }

  main {
    margin-top: 100px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper-home {
    flex-direction: column-reverse;
  }

  .left,
  .right {
    width: 100%;
  }

  .biography {
    flex-wrap: wrap;
  }

  .about-left {
    margin-bottom: 20px;
  }

  .counter-inner ul li {
    width: 50%;
  }

  .counter-inner ul li:last-child {
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .counter-inner ul li {
    width: 100%;
    padding-left: 0;
  }

  h3 {
    font-size: 30px;
  }

  .skill-list ul li {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .wrapper-contact-details {
    flex-direction: column;
  }
}

/* Media Queries Ends */

#circle {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 2px solid var(--blue-color);
  border-radius: 50%;
  pointer-events: none;
  box-shadow: var(--blue-color) 2px 2px 40px;
}
