@import url("https://fonts.googleapis.com/css2?family=Kristi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

:root {
  /* Color Palette for the webpage */
  --main-color: #55527c;
  --dark-color: #130f49;
  --yellow-color: #ff972d;
  --blue-color: #a5a6ff;
  --paleblue-color: #effbf8;
  /* Colors for boxes in about section */
  --green-color: #d3f4ec;
  --yellowish-color: #fce8d4;
  --light-green-color: #e3f9e0;
  --bluish-color: #f3f9ff;
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-karla: "Karla", sans-serif;
  --font-kristi: "Kristi", cursive;
}

/* Classes */
.inter {
  font-family: var(--font-inter);
}
.karla {
  font-family: var(--font-karla);
}
.kristi {
  font-family: var(--font-kristi);
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.blue {
  color: var(--blue-color);
}
.yellow {
  color: var(--yellow-color);
}

/* Stylings */
body {
  background-color: var(--yellow-color);
  font-family: var(--font-karla);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--main-color);
  /* overflow-x: hidden; */
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

h3 {
  font-size: 35px;
  font-weight: 700;
  font-family: var(--font-inter);
}

.wrapper {
  padding-top: 60px;
}

.main-wrapper {
  display: flex;
  align-items: center;
}

aside,
main {
  height: 100vh;
  max-height: 100vh;
}

/* Sidebar */
header {
  height: 100vh;
  background-color: #fff;
  text-align: center;
  user-select: none;
}

.sidebar {
  width: 300px;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  overflow-y: scroll;
  border-right: 1.5px solid rgba(85, 82, 124, 0.1);
}

::-webkit-scrollbar {
  width: 0;
}

.sidebar > * {
  width: 100%;
}

.profile {
  height: 90px;
  width: 90px;
  margin: 0 auto 15px auto;
}

.profile > img {
  height: 100%;
  width: 100%;
  border: 2px solid var(--blue-color);
  border-radius: 50%;
}

.name h3 {
  font-weight: 700;
}

.cursive {
  position: relative;
  font-style: italic;
  font-size: 50px;
  font-family: var(--font-kristi);
  line-height: 1;
  color: rgba(19, 15, 73, 0.1);
  display: block;
  letter-spacing: 0.12rem;
}

.cursive span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 18px;
  color: var(--dark-color);
  letter-spacing: normal;
  font-style: normal;
  margin-top: 5px;
}

li {
  line-height: 30px;
}

li:not(:last-child) {
  padding-bottom: 5px;
}

li > a {
  color: var(--main-color);
  font-weight: 500;
}

.nav-link.active {
  color: var(--blue-color);
}

iconify-icon {
  color: var(--main-color);
  font-size: 20px;
  transition: all 0.3s ease;
}

iconify-icon:hover {
  color: var(--blue-color);
}

.socials a:not(:last-child) {
  margin-right: 10px;
}

.cr span {
  line-height: 25px;
  font-size: 0.95rem;
}

/* Content section */
main {
  width: 100%;
  background-color: var(--paleblue-color);
}

section {
  width: 100%;
  height: 100vh;
}

.wrapper-home {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.wrapper-home,
.wrapper-about,
.wrapper-skills,
.wrapper-projects {
  height: 100vh;
  overflow-y: scroll;
}

.left,
.right {
  flex: 1;
  overflow: hidden;
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.herotext {
  margin-bottom: 21px;
}

.herotext h3,
.about-left h3 {
  font-size: 40px;
  font-weight: 800;
  color: var(--dark-color);
  line-height: 60px;
}

.desc {
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 80%;
  line-height: 25px;
}

.buttons {
  margin-bottom: 60px;
}

.btn a {
  color: #fff;
  background-color: #130f49;
  display: inline-block;
  border: 1.5px solid #130f49;
  border-radius: 4px;
  padding: 10px 40px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.btn-resume {
  margin-left: 15px;
}

.btn-resume a {
  background-color: transparent;
  color: #55527c;
}

.btn-work a:hover {
  background-color: transparent;
  color: var(--dark-color);
}

.btn-resume a:hover {
  background-color: var(--dark-color);
  color: #fff;
}

.myinfo ul {
  position: relative;
}

.myinfo ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--yellow-color);
}

.myinfo ul li {
  padding-left: 15px;
}

.myinfo ul li a {
  color: var(--dark-color);
  font-weight: 600;
  transition: all 0.3s ease;
}

.myinfo ul li a:hover {
  color: var(--yellow-color);
}
